html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Barlow', sans-serif;

}

input {
    font-size: 1em;
}


:root * {
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {


}

.shop__product-card {
    background-image: url("./images/wysiwyg/home-page/pack_it_in.jpg");
    width: 50%;
    min-height: 22.1rem;
    background-repeat: no-repeat;
    background-position: right;
}

.shop__product-card-title {
    margin: 0;
}

.shop-desktop {
    display: none;
}


.head-line {
    background: linear-gradient(84deg, #00B0D5, #1096C6, #006E9E);
    width: 100%;
    height: 0.5rem;
}

.head-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 4.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0px 5px 8px -4px rgba(216, 216, 216, 0.5);
}

.head-img {
    width: 10.1rem;
    height: 3.2rem;
    vertical-align: middle;
}

.fa-user-circle,
.action,
.fa-heart,
.icon-action-add-to-compare,
.fa-phone {
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid #D6E6ED;
}

.fa-user-circle,
.action,
.fa-heart,
.icon-action-add-to-compare,
.fa-phone,
.fa-shopping-cart:not(:last-child) {
    padding-right: 1rem;
    padding-left: 1rem;
}

.line {
    transform: translateX(50%);
}

.fa-phone,
.fa-user-circle,
.action,
.fa-heart,
.fa-shopping-cart,
.fa-bars,
.icon-black-Menu,
.icon-action-add-to-compare {
    color: #0092DB;
    cursor: pointer;
    font-size: 1.5rem;

}

.head-phone__wrap {
    display: none;
}

.border table {
    border: 1px;
    width: 1px;
    height: 15px;
}

.header__searchMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F5F5F5;
    height: 5.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.searchSite {
    font-size: 1.6rem;
    color: #989898;
    border: 0.1rem solid #D4E6ED;
    width: 100%;
    height: 3.2rem;
    outline: none;
    padding-left: 1.2rem;
}

.searchSite::-webkit-input-placeholder {
    font-weight: 300;
    color: #989898;
    font-size: 1.6rem;
}

.head__search-tablet {
    width: calc(100% - 4.5rem);
    position: relative;
}

.head-phoneNumber,
.head__language {
    display: none;
}

.button-search {
    background: url("images/icons/icons8-поиск-filled-15.png");
    background-repeat: no-repeat;
    height: 2rem;
    /*width: 2rem;*/
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0.8rem;
    right: 1.2rem;
    color: #24271F;
}

.drop-down__notification {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    min-height: 3rem;
    align-items: center;
    background: #24271F;
    color: #FFFFFF;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    /*top: 10.4rem;*/
    padding-left: 2rem;
    padding-right: 2rem;
}

.notice-text {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    line-height: calc(20em / 14);
}

.notice-infoBtn {
    color: #FFFFFF;
    font-size: 1.2rem;
    background: #0092DB;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
}

.card__heading-wrapper {
    background-image: url("./images/wysiwyg/home-category/wake.jpg");
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__heading-img {
    background-image: url("./images/wysiwyg/home-category/wake.jpg");
    height: 45rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    background: -moz-linear-gradient(top, rgba(0, 91, 143, 0) 58%, rgba(0, 91, 143, 0.53) 92%, rgba(0, 91, 143, 0.64) 99%, rgba(0, 91, 143, 0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 91, 143, 0) 58%, rgba(0, 91, 143, 0.53) 92%, rgba(0, 91, 143, 0.64) 99%, rgba(0, 91, 143, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 91, 143, 0) 58%, rgba(0, 91, 143, 0.53) 92%, rgba(0, 91, 143, 0.64) 99%, rgba(0, 91, 143, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00005b8f', endColorstr='#a6005b8f', GradientType=0);
}


.title-fontFamily {
    font-family: 'Permanent Marker', cursive;

    margin: 0;
    color: #ffffff;
}

.title-fontFamily h2 {
    font-size: 2.1rem;
    margin: 0;
    line-height: calc(31em / 21);
}

.title-content {
    font-size: 5.2rem;
    margin: 0;
    color: #ffffff;
    margin-bottom: 4.4rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.shop-now__btn {
    background: #40BF40;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: calc(100% - 15rem);
    height: 3.6rem;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.02em;
    line-height: calc(17em / 14);
}

.product__card-img img {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.product__card-wrap {
    background-color: #F5F5F5;
    padding-top: 1.4rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.product__card {
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    width: 48%;
    height: auto;
    margin-top: 1.2rem;
}

.product__card-description {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 1.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: calc(17em / 14);
}

.product__card:not(:nth-child(2n)) {
    margin-right: 0.8rem;
}



.product__card-one-wrap {
    background: url("./images/wysiwyg/home-page/pack_it_in.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1.6rem;
}

.shop-now__card-btn {
    background: #40BF40;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    height: auto;
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.02em;
    line-height: calc(22em / 18);
    padding: 0.8rem 2rem 0.8rem 1.9rem;
}

.product__card-title {
    margin: 0;
    color: #ffffff;
    font-size: 5.4rem;
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    line-height: calc(46em / 54);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.product__card-bg {
    display: inline-block;
    text-align: center;
    width: 50%;
    min-height: 22rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 2.2rem 2.2rem 1.9rem 2.9rem;
}


.product__card-two-bg {
    display: inline-block;
    text-align: center;
    width: 50%;
    min-height: 22rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 3.8rem 1.6rem 1.9rem 1.1rem;
    line-height: 5.4rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;

}

.product__card-two-title {
    font-size: 4.4rem;
    line-height: calc(44em / 44);
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    word-wrap: break-word;

}

.product__card-two-description {
    font-size: 1.6rem;
    color: #ffffff;
    margin-bottom: 1.7rem;
    line-height: calc(24em / 16);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    /*word-break: break-word;*/
}

.product__card-two-wrap {
    background: url(./images/wysiwyg/home-page/bonfire.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
}

.categories__wrap {
    margin: 0;
    font-size: 2.9rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: calc(35em / 29);
    padding-top: 6.6rem;
    margin-bottom: 2.7rem;
    color: #373A3C;
}

.categories__card-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #D6E6ED;
    font-size: 0;
}

.categories__card {
    display: inline-block;
    text-align: center;
    width: 48%;
    height: auto;
    margin-bottom: 2rem;
    font-size: 0;
}

.categories__card-img img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
    object-position: 50% 80%;
}

.categories__card-description {
    margin: 0;
    background-color: #F5F5F5;
    min-height: 3.9rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    line-height: calc(20em / 17);
    letter-spacing: 0.02em;
}

.categories__card:nth-child(2n+1) {
    margin-right: 4%;
}

/*.categories__card:not(:nth-child(5n)) {*/
/*margin-right: 2%;*/
/*}*/

.stuff {
    background-color: #F5F5F5;
    border-bottom: 1px solid #D6E6ED;
    padding: 7rem 1rem 2.6rem 1.2rem;
    /*padding-top: 7rem;*/
    /*padding-bottom: 2.6rem;*/
    height: auto;
}

.stuff__title {
    margin-top: 0;
    margin-bottom: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 500;
    color: #373A3C;
    line-height: calc(35em / 29);
}

.slider__card-product {
    display: inline-block;
    background-color: #ffffff;
    width: 48%;
    height: auto;
    margin-top: 1.2rem;
    margin-right: 0.5%;
}

.stuff-card__image {
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    border-bottom: 1px solid #D6E6ED;
}

.stuff-card__description-wrapper {
    padding: 1.7rem 0.6rem 1.2rem 0.6rem;
    border-bottom: 1px solid #D6E6ED;
}

.stuff-card__description {

    line-height: calc(23em / 16);
    overflow: auto;
    height: calc((23 / 16) * 3em);
    box-sizing: content-box;
}

.stuff-card {
    display: inline-block;
    background-color: #FFFFFF;
    width: 48%;
    margin: 0.5rem;
}

.color-text {
    font-weight: 700;
}

.slider__card-description {
    font-size: 1.6rem;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    font-weight: 400;
    line-height: 2.3rem;
    border-bottom: 1px solid #D6E6ED;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.slider__card-product-wrap {
    min-height: 16.4rem;
    width: 100%;
    border-bottom: 1px solid #D6E6ED;
}

.slider__card-img img {
    width: 100%;
    height: auto;
    padding: 3rem 0.6rem 3rem 0.6rem;
}

.price {
    color: #40BF40;
    font-weight: 500;
    font-size: 2rem;
}

.price_recommended {
    font-size: 1.6rem;
    color: #989898;
    font-weight: 300;
}

.stuff__product-price {
    padding: 1rem 0.6rem 1rem 0.6rem;
    text-align: left;
    line-height: 2.4rem;
    border-bottom: 1px solid #D6E6ED;
}

.stuff-card__actions span {
    color: #B9B9B9;
    border: none;
    font-size: 1.8rem;
    text-align: left;
}

.stuff-card__actions {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0.6rem 1rem 0.6rem;
}

.stuff-card__label {
    display: none;
}
.stuff-card__label_sale {
    display: none;
}

.slider__card-btn {
    display: block;
    margin: 0 auto;

    background: #40BF40;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: calc(100% - 5rem);
    height: 3.6rem;


    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    line-height: calc(19em / 16);
    font-size: 1.6rem;
    font-weight: 600;
}

.slider__card-btn-recently {
    display: block;
    margin: 0 auto;

    background: #40BF40;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: calc(100% - 5rem);
    height: 3.6rem;

    margin-top: 5.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    line-height: calc(19em / 16);
    font-size: 1.6rem;
    font-weight: 600;
}

.button__slide-card {
    margin-top: 6.3rem;
    text-align: center;
}

.brand__title {
    margin-top: 0;
    margin-bottom: 3.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #373A3C;
    line-height: calc(35em / 29);
    font-size: 2.9rem;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.brand {
    padding: 6.9rem 1rem 1.9rem 1rem;
    border-bottom: 1px solid #D6E6ED;
}

.brand__logo {
    margin-bottom: 2.6rem;
}

.brand__logo-img {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
}

.brand__logo-link {
    font-size: 0;
}

.brand__card-btn {
    background: #F5F5F5;
    border: 1px solid #0092DB;
    outline: none;
    cursor: pointer;
    color: #0092DB;
    width: calc(100% - 5rem);
    height: 3.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    line-height: calc(19em / 16);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    margin: 0 auto;
}

.button__brand-card {
    text-align: center;
}

.blog {
    padding: 5.9rem 1rem 2.4rem 1rem;
    border-bottom: 1px solid #D6E6ED;
}

.blog__title {
    margin-top: 0;
    margin-bottom: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 500;
    color: #373A3C;

    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: calc(35em / 29);
    letter-spacing: 0.01em;
}


.blog-slide {
    background-image: url("images/wysiwyg/home-page/wakeboarding.jpg");
    width: 100%;
    height: 52rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /*line-height: 52rem;*/
}

.widget__content-wrap {

    padding: 1.6rem 1.8rem 4.1rem 1.5rem;
}

.widget__author,
.widget__date {
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 200;
    width: 49%;
    line-height: calc(24em / 13);
    letter-spacing: 0.027em;
}

.widget__date {
    text-align: right;
}

.widget__link {
    display: block;
    margin-top: 1.4rem;
    text-align: left;
}


.blog-slide__container {
    background-color: #0092DB;
    width: 100%;
    height: auto;
    background: rgba(0, 146, 219, .5);
    position: absolute;
    bottom: 0;
    padding: 1.4rem 1.6rem 4.1rem 1.5rem;
}

.widget__link {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: calc(35em / 29);
    font-size: 2.9rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.blog__card-btn {
    background: #0092DB;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: calc(100% - 5rem);
    height: 3.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    line-height: calc(19em / 16);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.02em;

    display: block;
    margin: 0 auto;
}

.button__slide-wrap {
    text-align: center;
}

.buying-guides {
    background-color: #F5F5F5;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.buying__guides {
    padding: 6.8rem 1rem 5.1rem 1rem;
    background-color: #F5F5F5;
}

.icon__buying {
    text-align: center;
    margin-bottom: 1.7rem;

}

.icon-guide-compass {
    color: #40BF40;
}

.before-heading {
    text-align: center;
}

.before__heading {
    font-family: 'Permanent Marker', cursive;
    color: #0092DB;
    line-height: calc(23em / 16);
    font-size: 1.6rem;
    font-weight: 400;
}


.guides__label {
    display: none;
}

.guides__label-description {
    display: none;
}

.guides__title {
    color: #373A3C;
    margin-top: 0;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: calc(35em / 29);
    letter-spacing: 0.01em;
}

.guides__description {
    text-align: center;
    font-size: 1.6rem;
    color: #373A3C;
    font-weight: 400;
    padding: 1rem;

    font-family: 'Fira Sans', sans-serif;
    line-height: calc(24em / 16);
}

.guides-btn__wrap {
    text-align: center;
    margin-top: 2.4rem;
}

.guides__card-btn {
    background: #FFFFFF;
    border: 1px solid #0092DB;
    outline: none;
    cursor: pointer;
    color: #0092DB;
    width: calc(100% - 5rem);
    height: 3.6rem;
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: calc(19em / 16);
    letter-spacing: 0.02em;
    margin: 0 auto;
    display: block;
}

.guides__img {
    background-image: url("./images/StockSnap.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 14rem;
    padding: 0;
}

.contact-us-desktop {
    background-color: #F5F5F5;
    text-align: center;
    font-size: 2.9rem;
    text-transform: uppercase;
    padding: 3.1rem 1rem 3.1rem 1rem;

    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: calc(35em / 29);
    letter-spacing: 0.01em;
}



.title__question {
    color: #373A3C;
}

.title_contact {
    color: #40BF40;
}

.icon-right-BLACK-1 {
    font-size: 2.3rem;
}

.support {
    padding: 6.6rem 1rem 2.4rem 1rem;
    background-color: #FFFFFF;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.support__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 500;
    color: #373A3C;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: calc(35em / 29);
    letter-spacing: 0.01em;
}

.support__description {
    text-align: center;
    margin-bottom: 2.7rem;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(23em / 16);
}

.logo-link__support {
    font-size: 0;
}

.logo-support__img {
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
}

.support-btn__wrap {
    text-align: center;
    /*!*margin-top: 3.4rem;*!*/
    /*margin-bottom: 2.4rem;*/
}

.support__card-btn {
    display: block;
    margin: 0 auto;
    background: #F5F5F5;
    border: none;
    outline: none;
    cursor: pointer;
    color: #40BF40;
    font-size: 1.6rem;
    padding: 0.7rem 2.5rem 0.8rem 2.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: calc(23em / 16);
}

.email-container__wrap {
    /*padding-left: 2.5rem;*/
    /*padding-right: 2.5rem;*/
    /*padding-bottom: 3.6rem;*/
}

.email-btn__wrap {
    margin-top: 2.8rem;
    text-align: center;
}

.email__btn {
    background: #40BF40;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 3.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;


    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc(19em / 16);
    letter-spacing: 0.02em;

    display: block;
    margin: 0 auto;
}

.newsletter__subscribe {
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 3.6rem;
    /*border-left: 50vw solid transparent;*/
    /*border-right: 50vw solid transparent;*/
    /*border-top: 1.7rem solid #f5f5f5;*/

}

.newsletter__title-wrapper {
    display: none;
}

.newsletter-title {
    background-color: #F5F5F5;
    padding: 4.8rem 1rem 1.5rem 1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 2.9rem;
    line-height: calc(33em / 29);
    letter-spacing: 0.01em;
}

.newsletter__heading {
    text-align: center;
}

.newsletter__before-heading {
    font-family: 'Permanent Marker', cursive;
    color: #0092DB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(23em / 16);
}

.newsletter__title {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 500;
    color: #373A3C;
    margin-bottom: 0.4rem;
}

.subscribe__description {
    text-align: center;
    padding: 1rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: calc(23em / 16);
}

.newsletter-subscribe__email {
    background: transparent;
    border: 1px solid #0092DB;
    outline: none;
    color: #0092DB;
    padding: 1.3rem 1.3rem;
    width: 100%;
}


.newsletter-subscribe__email::-webkit-input-placeholder {
    font-weight: 300;
    color: #0092DB;
    font-size: 1.6rem;
}

.subscribe_email {
    margin-top: 2.0rem;
    margin-bottom: 1.6rem;
    text-align: center;
}


.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: calc(24em / 13);
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #FFFFFF;
    border: 1px solid #0092DB;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: #ffffff;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer__container {
    background: linear-gradient(0deg, #00B0D5, #0089BA, #006E9E);
    padding: 4.2rem 1rem 1rem 1rem;
}

.container__logo {
    text-align: center;
    font-size: 1.6rem;
}

.footer-img {
    width: 50%;
    height: auto;
}

.container-title {
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
}

.container__working-hours {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.working-hours {
    color: #ffffff;
    font-weight: 100;
}

.social-links-tablet {
    display: none;
}

.social-links {
    text-align: center;
}

.sosial-links__link {
    color: #ffffff;
    font-size: 4.7rem;
    padding: 1.1rem 2.7rem 4rem 2.7rem;
}

.sosial-links__link span:not(:last-child) {
    margin-right: 1rem;
}


.about-contact__container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4.1rem;
}

.about-contact__container a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    width: 47%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.3;
}

.footer-links ul {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.footer-links h3 {
    font-weight: 400;
    margin: 0;
}

.footer-links {
    text-align: center;
    line-height: 3;
    margin-bottom: 5.7rem;
}

.payment-cards {
    display: inline-block;
    text-align: center;
    width: 48%;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
}

.footer__awards-card-mobile {
    display: inline-block;
    text-align: right;
    min-width: 48%;
    height: auto;
}

.payment-card__wrap {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    margin-bottom: 2.9rem;
    padding-bottom: 1.9rem;
}

.fa-lock {
    margin-right: 0.7rem;
}

.payment-cards h3 {
    margin-top: 1.6rem;
    margin-bottom: 1.3rem;
    font-size: 1.6rem;
    color: #ffffff;
}

.payment-cards img {
    margin: 1rem;
    width: 5.4rem;
    height: auto;
}

.payment-cards:not(:last-child) {
    margin-right: 2%;
}

.footer__bottom-links ul {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 3;
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffff;
    list-style-type: none;
}

.footer__bottom-links {
    margin-bottom: 2.8rem;
}

.footer__awards-card-tablet {
    display: none;
}

.social-links_tablet {
    display: none;
}

.copyright {
    font-size: 1.3rem;
    text-align: center;
    color: #ffffff;
    font-weight: 200;
}

.copyright__kodal {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-align: center;
    font-size: 1.6rem;
}

.copyright__kodal img {
    margin-left: 0.7rem;
    width: 5.2rem;
}


.head__search-desktop {
    display: none;
}

.nav-section {
    display: none;
}


.deals-card {
    display: none;
}

.social-links_desktop {
    display: none;
}

.footer-desktop {
    display: none;
}