html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

input {
    font-size: 1em;
}

.header__burger-text {
    display: none;
}

@media screen and (min-width: 768px) {

    .head-line {
        height: 0.8rem;
    }

    .head-img {
        width: 17rem;
        height: auto;
    }

    .head-logo {
        padding: 2.3rem 3rem 1.9rem 3rem;
        height: auto;
        display: flex;
    }

    .header__burger-text {
        display: inline;
        color: #0092DB;
        margin-right: 2.4rem;
    }

    .head-links {
        display: flex;
        align-items: center;
    }

    .icon-action-add-to-compare {
        color: #0092DB;
    }

    .fa-phone {
        border: none;
        color: #0092DB;
    }

    .fas, .action,
    .icon-action-add-to-compare,
    .fa-phone {
        font-size: 2.2rem;
    }

    .head-phone__wrap {
        display: flex;
        text-align: right;
    }

    .head-phoneNumber {
        text-decoration: none;
        color: #24271F;
        font-size: 1.7rem;
        font-weight: 300;
        margin-right: 2rem;
    }

    .head__language {
        font-size: 0;
    }

    .icon-black-Menu {
        margin-right: 1rem;
    }

    .head__search-tablet {
        width: calc(100% - 10rem);
        position: relative;
    }

    .head__search-desktop {
        display: none;
    }


    .header__searchMenu {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .fa-user-circle, .action, .fa-heart, .icon-action-add-to-compare, .head__language:not(:first-child):not(:last-child) {
        border-right: 1px solid #D6E6ED;
        border-left: 1px solid #D6E6ED;
        padding-left: 2rem;
    }

    .fa-user-circle,
    .action,
    .fa-heart,
    .icon-action-add-to-compare,
    .fa-phone,
    .head__language,
    .fa-shopping-cart {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .fa-shopping-cart {
        padding-right: 0;
    }

    .head__language {
        padding-left: 0;
    }

    .fa-phone,
    .head-phoneNumber,
    .head__language {
        display: block;
    }

    .head-phoneNumber {
        line-height: calc(24em / 17);
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 0.02em;
    }


    .drop-down__notification {
        display: none;
    }

    .title-content {
        font-size: 5.5rem;
        margin-top: 0.8rem;
        margin-bottom: 1rem;

        line-height: calc(52em / 55);
        font-weight: 700;
    }

    .shop-now__btn {
        font-size: 1rem;
        width: 12rem;
        height: 2.7rem;
    }

    .product__card {
        font-size: 0;
        width: 22%;
        margin-top: 0;
    }

    .product__card-wrap {
        text-align: center;
        padding: 2.8rem 3rem 2.6rem 3rem;
    }

    .product__card-description {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .product__card:not(:last-child) {
        margin-right: 3%;

    }

    .product__card-one-wrap {
        width: 50%;
        margin: 0;
    }

    .product__card-two-wrap {
        width: 50%;
    }


    .shop {
        padding-top: 2.3rem;
        padding-right: 3rem;
        padding-left: 3rem;
        font-size: 0;
    }

    .product__card-one, .product__card-two {
        display: inline-block;
        width: 49%;
    }

    .product__card-one-wrap, .product__card-two-wrap {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .product__card-one:nth-child(1n) {
        margin-right: 2%;
        width: 49%;
    }

    .product__card-title {
        font-size: 4.9rem;
        margin-bottom: 1.7rem;
        margin-top: 0;


        line-height: calc(45em / 49);
        font-weight: 700;
    }

    .shop-now__card-btn {
        padding: 0.6rem 3rem 0.7rem 3rem;
        width: 11.6rem;
        height: auto;

        line-height: calc(13em / 11);
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.02em;
    }

    .product__img {
        margin-bottom: 2rem;
    }

    .product__card-two-title {
        font-weight: 700;
        font-size: 4rem;
        line-height: calc(50em / 40);
        margin: 0;
    }

    .product__card-bg {
        padding: 2rem 2.1rem 2rem 2.9rem;
    }

    .product__card-two-bg {
        padding: 3.3rem 1.7rem 1.7rem 1.5rem;
    }

    .product__card-two-description {
        margin-bottom: 1.8rem;
    }

    .categories__card-wrap {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 7rem;
    }

    .categories__wrap {
        padding-top: 6.8rem;
        font-size: 4rem;
        margin-bottom: 4.2rem;
        letter-spacing: 0.01em;
        line-height: calc(48em / 40);
    }

    .categories__card-description {
        padding-top: 1.9rem;
        padding-bottom: 1.7rem;
        font-size: 2.4rem;
        letter-spacing: 0.02em;
        line-height: calc(42em / 24);
    }

    .stuff {
        padding: 6.8rem 1.3rem 2.6rem 1.3rem;
    }

    .slider__card-btn {
        width: auto;
        font-size: 1.6rem;
    }

    .slider__card-btn-recently {
        width: 21rem;
        height: auto;
        padding: 0.9rem 3.9rem 1rem 3.5rem;
        letter-spacing: 0.01em;
    }

    .price {
        font-size: 2.2rem;
        display: inline-block;
        width: 48%;
    }

    .price_recommended {
        font-size: 1.8rem;
        display: inline-block;
        width: 48%;
        text-align: right;
    }

    .stuff__title {
        font-size: 4rem;
        margin-bottom: 3.9rem;

        letter-spacing: 0.01em;
        line-height: calc(48em / 40);
    }

    .stuff-card__description {
        border: none;

        line-height: calc(23em / 16);
        overflow: auto;
        height: calc((23 / 16) * 3em);
        box-sizing: content-box;
    }

    .stuff-card__description-wrapper {
        padding: 1.7rem 1.2rem 0.4rem 1.2rem;
    }

    .stuff__product-price {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .staff__icon {
        display: block;
        text-align: center;
    }

    .staff__icon span {
        margin-right: 1.9rem;
    }

    .stuff-card__label {
        border-bottom: 2px solid #0092DB;
        background: rgba(214, 230, 237, 0.5);
        width: 100%;
        height: 1.6rem;
        position: absolute;
        bottom: 17.8rem;
        text-align: center;
        color: #0092DB;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: inline;
    }

    .stuff-card {
        position: relative;
        margin-right: 1rem;
    }

    .stuff-card__label_sale {
        border-bottom: 2px solid #FA0202;
        background: rgba(254, 226, 226, 0.5);
        width: 100%;
        height: 1.6rem;
        position: absolute;
        bottom: 17.8rem;
        text-align: center;
        color: #FA0202;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: block;
    }

    .stuff-card__sale-stuff span {
        font-weight: 600;
    }

    .stuff-card__actions {
        display: block;
        text-align: center;
    }

    /*.icon-action-add-to-compare {*/
    /*padding: 0;*/
    /*margin-right: 1.9rem;*/
    /*}*/
    .brand {
        padding: 6.9rem 3rem 4.2rem 3rem;
    }

    .brand__title {
        font-size: 4rem;
        margin-bottom: 4.2rem;

        letter-spacing: 0.01em;
        line-height: calc(48em / 40);
    }

    .brand__logo-img {
        width: 20%;
    }

    .brand__card-btn {
        background: transparent;
        border: none;
        width: auto;
        height: auto;
        color: #40BF40;

        font-size: 1.6rem;
        letter-spacing: 0.02em;
        line-height: calc(24em / 16);
    }

    .blog {
        padding-top: 7.1rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        border-bottom: 1px solid #D6E6ED;
    }

    .blog__title {
        font-size: 4rem;
        margin-bottom: 1.5rem;
        line-height: calc(48em / 40);
    }

    .blog-slide:not(:last-child) {

    }

    .blog__card-btn {
        font-size: 1.6rem;
        min-width: 30.4rem;
        height: 3.8rem;
        width: auto;
    }

    .buying__guides {
        display: inline-block;
        vertical-align: top;
        padding-top: 6.8rem;
        width: 49%;
        /*height: 38rem;*/
    }

    .fa-2x {
        font-size: 3.4rem;
    }

    .guides__img {
        width: 51%;
        position: relative;
        display: table-cell;
    }

    .buying__guides {
        background-color: #FFFFFF;
        display: table-cell;
    }

    .buying-guides {
        padding-top: 4.5rem;
        background-color: #ffffff;
        font-size: 0;

    }

    .buying-guides-wrapper {
        display: table;
    }

    .guides__label {
        background-color: #ffffff;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 8.2rem;
        position: absolute;
        bottom: 0;
        font-size: 1.6rem;
        color: #0092DB;
        text-transform: uppercase;
        text-align: center;
        padding-top: 1.4rem;
        display: inline-block;

        font-weight: 600;
        letter-spacing: 0.02em;
        line-height: calc(19em / 16);
    }

    .guides__label-description {
        display: block;
        font-size: 2.4rem;
        color: #24271F;
        padding-bottom: 1.7rem;

        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: calc(42em / 24);
    }

    .newsletter__title-label {
        font-size: 1.6rem;
    }


    .icon__buying, .before__heading {
        font-size: 1.6rem;
    }

    .contact-us-desktop {
        background-color: #F5F5F5;
        text-align: center;
        font-size: 2.9rem;
        text-transform: uppercase;
        padding: 3.1rem 1rem 3.1rem 1rem;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
        line-height: calc(35em / 29);
        letter-spacing: 0.01em;
        display: block;
    }

    .title__question {
        display: inline-block;
        vertical-align: middle;
    }

    .title_contact {
        display: inline-block;
        vertical-align: middle;
    }

    .support {
        padding: 6.4rem 3rem 6.2rem 3rem;
        text-align: center;
    }

    .logo-support__img {
        width: 19%;
    }

    .support__title {
        font-size: 4rem;
        margin-bottom: 1.8rem;
        letter-spacing: 0.01em;
        line-height: calc(48em / 40);
    }

    .support__description {
        width: 80%;
        text-align: center;
        display: inline-block;
        margin-bottom: 3.3rem;
        line-height: calc(23em / 16);
    }

    .support__card-btn {
        background: #FFFFFF;
        border: 1px solid #0092DB;
        outline: none;
        cursor: pointer;
        color: #0092DB;
        width: 26rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 1rem 0.7rem 0.9rem 0.7rem;

        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: calc(19em / 16);
    }

    .brand__logo-support {
        margin-bottom: 1.4rem;
    }

    .newsletter__image-email {
        background: url("./images/wysiwyg/home-page/StockSnap.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: table-cell;
        width: 35%;
        font-size: 0;
        vertical-align: bottom;
    }

    .newsletter__subscribe {
        display: table-cell;
        width: 65%;
        padding: 6.2rem 3rem 5.2rem 3rem;
        background-color: #F5F5F5;
    }

    .newsletter__before-heading {
        font-size: 2rem;
        line-height: calc(29em / 20);
    }

    .newsletter {
        font-size: 0;
        line-height: 1.3;

    }

    .newsletter-wrapper {
        display: table;
    }

    .checkmark {
        background-color: transparent;
    }

    .container__wrap {
        font-size: 1.6rem;
    }

    .newsletter-subscribe__email {
        font-size: 1.6rem;
        background: #fff;

        font-weight: 400;
        line-height: calc(23em / 16);
    }

    .subscribe__description {
        font-size: 1.6rem;
        text-align: left;
        font-family: 'Fira Sans', sans-serif;
        line-height: calc(24em / 16);
    }

    .before__heading {
        font-size: 1.6rem;
        line-height: calc(23em / 16);
    }

    .subscribe_email {
        margin-bottom: 3rem;
    }

    .guides__title {
        font-size: 2.9rem;
        margin-bottom: 0.4rem;
        letter-spacing: 0.01em;
        line-height: calc(35em / 29);
    }

    .guides__description {
        margin-bottom: 2.4rem;
    }

    .guides-btn__wrap {
        margin-bottom: 0;
        margin-top: 2.4rem;
    }

    .email-container__wrap {
        padding: 0;
    }


    .newsletter-title {
        display: none;

    }

    .newsletter__title {
        font-size: 4rem;
        letter-spacing: 0.01em;
        line-height: calc(48em / 40);
    }

    .newsletter__title-wrapper {
        display: inline;
    }

    .email__btn {
        border: 1px solid #40BF40;
        background: #ffffff;
        color: #40BF40;
        max-width: 25rem;
    }

    .container {
        margin-bottom: 2.1rem;
        font-size: 1.3rem;
    }

    .email-btn__wrap {
        margin-top: 3.3rem;
    }

    .container__logo {
        text-align: left;
        font-size: 1.6rem;
        display: inline-block;
        width: 60%;
        vertical-align: top;
    }

    .container__working-hours {
        text-align: left;
        line-height: 1.5;
        /*margin-bottom: 5rem;*/
        margin: 0;
        display: inline-block;
        width: 39%;
        vertical-align: top;
        border: none;
    }

    .working-hours__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #ffffff;
        /* vertical-align: top; */
        margin: 0;
    }

    .working-hours {
        margin-bottom: 3rem;
    }

    .working-hours__title:not(:first-child) {
        margin-top: 3rem;
        font-size: 1.4rem;
    }

    .container-border {
        border: none;
    }

    .social-links {
        display: none;
    }

    .social-links-tablet {
        display: block;
    }


    .sosial-links__link {
        padding: 0;
    }

    .social-links__title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .footer__container {
        padding: 4.2rem 3rem 1.6rem 3rem;
    }

    .footer-links {
        margin: 0;
        width: 50%;
    }

    .payment-card__wrap {
        width: 50%;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        border-bottom: none;
        padding: 1rem;
        align-self: flex-start;
    }

    .claaaassss {
        display: flex;
        flex-direction: row-reverse;
    }

    .payment-cards {
        margin: 0;
        width: auto;
    }

    .footer__awards-card-mobile {
        width: auto;
        text-align: center;
        display: none;
    }

    .footer__awards-card-tablet {
        display: inline;
    }

    .footer__awards-image_tablet {
        width: 100%;
        margin-bottom: 7rem;
    }

    .footer__bottom-links ul {
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
        border-top: 1px solid;
    }

    .payment-cards:not(:last-child) {
        margin: 0;
    }

    .payment-cards img {
        margin: 0.5rem;
    }

    .footer__bottom-links {
        margin-bottom: 1.8rem;
    }

    /*:root {*/
    /*--blog-image-number_tablet: 2;*/
    /*--blog-margin_tablet: 2rem;*/
    /*}*/
    /*.blog-slide {*/
    /*box-sizing: border-box;*/
    /*width: calc((100vw - 6rem - 2*var(--blog-margin_tablet)) / var(--blog-image-number_tablet)) !important;*/
    /*!*width: calc(((100vw - 21.2rem - 5rem)*0.3)/2) ;*!*/
    /*}*/
    .blog-slide:not(:last-child) {
        margin-right: 1.4rem;
        margin-left: 1.4rem;
    }

    /*.blog-slide:first-child {*/
    /*width: calc(((100vw - 21.2rem - (var(--blog-image-number_tablet) - 1) * var(--blog-margin_tablet)) / var(--blog-image-number_tablet)) * 3 + 2 * var(--blog-margin_tablet)) !important;*/
    /*}*/
    /*.blog {*/
    /*padding: 3.8rem 10.6rem 5.3rem 10.6rem;*/
    /*}*/
    /*:root {*/
    /*--blog-image-number_tablet: 2;*/
    /*--blog-margin_tablet: 5rem;*/
    /*}*/
    /*.categories__card {*/
    /*width: calc((100% - (var(--blog-image-number_tablet) - 1) * var(--blog-margin_tablet)) / var(--blog-image-number_tablet));*/
    /*}*/

}