html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

input {
    font-size: 1em;
}


@media screen and (min-width: 1024px) {

    .header__searchMenu {
        display: none;
    }

    .head__search-desktop {
        /*display: flex;*/
        /*flex-grow: 1;*/
        display: block;
        width: 45%;
        position: relative;
    }

    .head-logo {
        padding: 2.3rem 10.6rem 1.9rem 10.6rem;
    }


    .fa-phone,
    .head__language {
        display: none;
    }

    .button-search-desktop {

    }

    .search-site {
        /*font-size: 1.9rem;*/
        font-weight: 100;
        color: #989898;
        border: 0.1rem solid #D4E6ED;
        width: 100%;
        height: 3.2rem;
        outline: none;
        padding-left: 1.2rem;
        background-color: #F5F5F5;
    }

    .head__search-desktop {
        width: 35%;
        position: relative;


    }

    .button-search-desktop {
        background: url(images/icons/icons8-поиск-filled-15.png);
        background-repeat: no-repeat;
        height: 2rem;
        /* width: 2rem; */
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 0.8rem;
        right: 1.2rem;
        color: #24271F;
    }

    .head-img {
        width: 22rem;
        height: auto;
        margin-right: 6.7rem;
    }

    .title-content {
        font-size: 8.1rem;
        line-height: calc(52em / 81);
        margin-bottom: 4rem;
    }

    .card__heading-wrapper {
        display: flex;
        padding-right: 10.6rem;
        padding-left: 10.6rem;
        padding-bottom: 6.2rem;

        background-image: none;
    }

    .blabla {
        background: -moz-linear-gradient(top, rgba(0, 91, 143, 0) 58%, rgba(0, 91, 143, 0.53) 92%, rgba(0, 91, 143, 0.64) 99%, rgba(0, 91, 143, 0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 91, 143, 0) 58%, rgba(0, 91, 143, 0.53) 92%, rgba(0, 91, 143, 0.64) 99%, rgba(0, 91, 143, 0.65) 100%);
        background: linear-gradient(to bottom, rgba(0, 91, 143, 0) 58%, rgba(0, 91, 143, 0.53) 92%, rgba(0, 91, 143, 0.64) 99%, rgba(0, 91, 143, 0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00005b8f', endColorstr='#a6005b8f', GradientType=0);
    }

    .card__heading-img {
        width: 65%;
        margin-right: 1%;
        height: auto;
        background-image: url("./images/wysiwyg/home-category/wake.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .shop {
        display: none;
    }

    .shop-desktop {
        display: block;
        font-size: 0;
        width: 34%;
    }


    .product-desktop__card-one-wrap {
        background: url(./images/wysiwyg/home-page/pack_it_in.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 1rem;
        min-height: 34rem;
    }

    .product-desktop__card-bg {
        text-align: center;
        width: 50%;
        min-height: 34rem;
        background: rgba(0, 0, 0, 0.3);
        padding-top: 6.6rem;
        padding-bottom: 3.2rem;
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }

    .product-desktop__card-title {
        margin: 0;
        color: #ffffff;
        font-size: calc(81vw / 19.20);
        margin-top: 1rem;
        margin-bottom: 1.8rem;
        word-wrap: break-word;

        line-height: calc(75em / 81);
    }

    .shop-desktop__card-btn {
        background: #40BF40;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;

        padding: 0.9rem 5.2rem 1.1rem 4.8rem;
        font-size: 1.8rem;
        line-height: calc(22em / 18);
        font-weight: 700;
    }

    .product-desktop__card-two-wrap {
        background: url(./images/wysiwyg/home-page/bonfire.jpg);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: right;
        min-height: 34rem;

    }

    .product-desktop__card-two-bg {
        display: inline-block;
        text-align: center;
        width: 50%;
        min-height: 34rem;
        background: rgba(0, 0, 0, 0.3);
        padding-top: 10rem;
        padding-bottom: 2.8rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .product-desktop__card-two-title {
        font-size: calc(66vw / 19.20);
        color: #ffffff;
        margin-top: 1rem;
        margin-bottom: 1rem;

        line-height: calc(82em / 66);
        font-weight: 700;
    }

    .product-desktop__card-two-description {
        font-size: 1.6rem;
        color: #ffffff;
        margin-bottom: 1.7rem;

        line-height: calc(24em / 16);
        font-weight: 700;
        word-break: break-word;
    }

    .product__card-one, .product__card-two {
        width: 100%;
    }

    .shop-now__btn {
        width: 19rem;
        height: 4.3rem;
        margin-bottom: 2.8rem;
        font-size: 1.8rem;

        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
        line-height: calc(35em / 29);
        letter-spacing: 0.01em;
    }


    .menu-title {
        padding: calc(20vw / 19.20) calc(15vw / 19.20);
        font-size: calc(20vw / 19.20);

        color: #373A3C;
        text-transform: uppercase;
        text-decoration: none;


        line-height: calc(20em / 18);

    }

    .nav-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header__nav-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F5F5F5;
        min-height: 5.3rem;
        padding-left: 10.6rem;
        padding-right: 10.6rem;

        line-height: calc(24em / 17);
        letter-spacing: 0.02em;
    }

    .head-phoneNumber {
        font-size: calc(17vw / 19.20);
    }

    .product__card-wrap {
        padding: 4.4rem 10.6rem 4.5rem 10.6rem;
        font-size: 0;
    }

    .product__card-description {
        font-size: calc(18vw / 19.20);
        padding: 1rem 6.1rem 1rem 6rem;
        line-height: calc(22em / 18);
    }

    .product__card:not(:last-child) {
        margin-right: 4%;

    }

    :root {
        --image-number_desktop: 5;
        --margin_desktop: 1%;
    }

    .categories__card {
        width: calc((100% - (var(--image-number_desktop) - 1) * var(--margin_desktop)) / var(--image-number_desktop));
    }

    .categories__card-img img {
        height: 7vw;
    }

    .categories__card-wrap {
        padding-left: 10.6rem;
        padding-right: 10.6rem;
        text-align: center;
    }

    .categories__card:nth-child(2n+1) {
        margin-right: 0;
    }

    .categories__card:not(:nth-child(5n)) {
        margin-right: var(--margin_desktop);

    }

    .categories__card-description {
        font-size: calc(24vw / 19.20);
        line-height: calc(42em / 24);
        letter-spacing: 0.02em;
    }

    .categories__card-img img {
        object-fit: cover;
        object-position: 50% 60%;
    }

    .categories__card-wrap {
        padding: 0;
        border: none;
    }

    .categories__wrap {
        padding: 0;
        line-height: calc(48em / 40);
        letter-spacing: 0.01em;
    }

    .product__card-categories {
        padding: 7rem 10.6rem 12rem 10.6rem;
    }

    .stuff {
        padding: 6.8rem 10.6rem 4.1rem 10.6rem;
    }

    .stuff__title {
        line-height: calc(48em / 40);
        letter-spacing: 0.01em;
    }

    .stuff-card__label {
        border-bottom: 2px solid #0092DB;
        background: rgba(214, 230, 237, 0.5);
        width: 100%;
        height: 1.6rem;
        position: absolute;
        bottom: 17.8rem;
        text-align: center;
        color: #0092DB;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: inline;
    }

    .stuff-card__label_sale {
        border-bottom: 2px solid #FA0202;
        background: rgba(254, 226, 226, 0.5);
        width: 100%;
        height: 1.6rem;
        position: absolute;
        bottom: 17.8rem;
        text-align: center;
        color: #FA0202;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .stuff-card__actions {
        display: block;
        text-align: center;
    }

    .slider__card-btn {
        min-width: 27rem;
        height: 3.8rem;
        font-size: 1.6rem;

        line-height: calc(19em / 16);
        letter-spacing: 0.02em;
    }

    .brand {
        text-align: center;
        padding: 3.9rem 10.6rem 5.8rem 10.6rem;
    }

    .brand__title {
        margin-bottom: 3.2rem;
        line-height: calc(48em / 40);
        letter-spacing: 0.01em;
    }

    .brand__logo {
        width: 50%;
        display: inline-block;
    }

    .button__slide-card {
        margin-top: 3.5rem;
    }

    .brand__card-btn {
        background: #F5F5F5;
        border: 1px solid #0092DB;
        outline: none;
        cursor: pointer;
        color: #0092DB;
        min-width: 27rem;
        height: 3.8rem;
        font-size: 1.6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-transform: uppercase;

    }

    .buying__guides {
        padding: 4.5rem 10rem 7.9rem 10rem;
        /*min-height: 43rem;*/
        width: calc(700% / 11.32);
    }

    .guides__img {
        background-image: url("./images/wysiwyg/home-page/featured_guide_placeholder.jpg");
        width: calc(432% /11.32);
    }

    .guides__title {

    }

    .guides__description {
        text-align: left;
    }

    .guides__card-btn {
        width: 26.8rem;
        height: 3.8rem;
    }

    .guides-btn__wrap {
        margin-top: 3.4rem;
    }

    .buying-guides {
        background: url("./images/wysiwyg/home-category/clearance.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        min-height: 56rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
        width: 100%;
    }

    .buying-guides-wrapper {
        display: block;
        max-width: 113.2rem;
        margin: 0 auto;
    }

    .guides__label {
        right: 0;
        height: auto;
    }

    .icon-right-BLACK-1 {
        font-size: 3.6rem;
    }



    .contact-us-desktop {
        display: block;
        background-color: #F5F5F5;
        text-align: center;
        font-size: 4rem;
        line-height: 1.4;
        text-transform: uppercase;
        padding: 3.1rem 1rem 3.1rem 1rem;
    }

    .support {
        padding: 6.4rem 10.6rem 6.2rem 10.6rem;
        text-align: center;
    }

    .brand__logo-support {
        margin-bottom: 1.8rem;
        width: 50%;
        display: inline-block;
    }

    .logo-support__img {
        width: 17%;
    }

    .newsletter-wrapper {
        display: block;
        max-width: 113.2rem;
        margin: 0 auto;
    }

    .newsletter {
        text-align: center;
        padding-top: 7.1rem;
        padding-bottom: 7.8rem;
        background-color: #F5F5F5;
        width: 100%;
    }

    .newsletter__image-email {
        width: calc(432% / 11.32);
        max-height: 48rem;

    }

    .newsletter__subscribe {
        width: calc(700% / 11.32);
        height: auto;
        background-color: #FFFFFF;
        padding: 6.2rem 5rem 5.2rem 5rem;
    }

    .newsletter-subscribe__email {
        max-width: 41rem;
    }

    .subscribe__checkbox {
        text-align: left;
    }

    .email__btn {
        background: #40BF40;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        max-width: 27rem;
        height: 3.8rem;
        font-size: 1.6rem;
    }

    .deals-card {
        display: block;
        background-image: url("./images/wysiwyg/home-category/womens.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .deals {
        background-color: #FFFFFF;
        height: auto;
        text-align: center;
        width: 50%;
        padding: 8.9rem 9.6rem 6.3rem 10.6rem;
    }

    .deals__before-heading {
        font-family: 'Permanent Marker', cursive;
        color: #0092DB;
        font-size: 2rem;
    }

    .deals__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 500;
        color: #373A3C;
        margin-top: 0.3rem;
        margin-bottom: 4.8rem;
    }

    .deals__description {
        font-size: 1.6rem;
        text-align: left;
        margin-bottom: 3.2rem;
    }

    .container__logo {
        width: 25%;
    }

    .social-links-tablet {
        display: none;
    }

    .social-links_desktop {
        display: block;
    }

    .container__working-hours {
        display: inline;
    }


    .footer {
        display: none;
    }

    .footer-desktop {
        display: block;
    }

    .footer-desktop__container {
        background: linear-gradient(33deg, #00B0D5, #0089BA, #006E9E);
        padding: 5rem 10.6rem 2.9rem 10.6rem;
        font-size: 0;
    }

    .footer-desktop__img {
        width: 56%;
        height: auto;
        margin-bottom: 3.3rem;
        padding-top: 1.5rem;
    }

    .container-desktop__logo {
        display: inline-block;
        vertical-align: top;
        width: 28%;
        margin-right: 3%;
        padding-bottom: 3rem;
    }

    .about-contact-desktop__container {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 4%;
    }

    .about-contact-desktop__container a {
        display: inline-block;
        vertical-align: text-top;
        width: 100%;
        color: #FFFFFF;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        text-align: center;
        font-size: 1.8rem;
        line-height: calc(22em / 18);
        padding-bottom: 2.1rem;

    }

    .about-contact-desktop__container a:not(:last-of-type) {
        margin-bottom: 3.2rem;
    }

    .footer-desktop__links {
        margin: 0;
        display: inline-block;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        vertical-align: top;
        width: 21%;
        margin-right: 2%;
    }

    .footer__link:not(:last-child) {
        margin-bottom: 2.3rem;
    }

    .footer-desktop__links h3 {
        text-align: center;
        line-height: calc(22em / 18);
        margin: 0;
        font-weight: 400;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        padding-bottom: 2.3rem;
        margin-bottom: 2.3rem;
    }

    .footer-desktop__links ul {
        list-style-type: none;
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }


    .payment-cards h3 {
        font-size: calc(16vw / 19.20);
    }

    .container {
        display: inline-block;
        width: 22%;
        text-align: center;
        padding-left: 0;
        padding-top: 2.3rem;
        margin-top: 4.4rem;
        border-top: 1px solid rgba(255, 255, 255, .5);

    }

    /*.payment-card-desktop__wrap {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*margin: 0;*/
    /*text-align: center;*/
    /*border-bottom: none;*/
    /*border-top: 1px solid rgba(255, 255, 255, .5);*/
    /*!*padding-top: 5.3rem;*!*/
    /*!*margin-bottom: 4rem;*!*/
    /*}*/
    .working-hours {
        font-size: 1.6rem;
    }

    .payment-cards img {
        width: calc(54vw / 19.20);
    }

    .awards-image__desktop {
        width: 86%;
        margin-bottom: 2.3rem;
    }

    .social-desktop-links__link {
        padding: 0;
        margin-top: 3.5rem;
        text-align: center;
        font-size: calc(47vw / 19.20);
        color: #ffffff;
    }

    .social-desktop-links__link span:not(:last-child) {
        margin-right: 1rem;
    }

    .footer-desktop__bottom-links {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        border-top: 1px solid rgba(255, 255, 255, .5);
        padding-top: 2.7rem;
    }

    .desktop-link li {
        display: inline;
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    .desktop-link {
        display: inline;
        margin: 0;
        padding: 0;
    }

    .copyright-desktop {
        display: inline;
        color: #FFFFFF;
        font-size: 1.3rem;
    }

    .blog__slider-review {
        width: 100%;
    }

    :root {
        --blog-image-number_desktop: 5;
        --blog-margin_desktop: 2rem;
    }

    .blog-slide {
        box-sizing: border-box;
        width: calc((100vw - 21.2rem - (var(--blog-image-number_desktop) - 1) * var(--blog-margin_desktop)) / var(--blog-image-number_desktop)) !important;
        /*width: calc(((100vw - 21.2rem - 4rem)*0.3)/2) ;*/
    }


    .blog-slide:not(:last-child) {
        margin-right: 2rem;
        margin-left: 0;

    }

    .blog-slide:first-child {
        width: calc(((100vw - 21.2rem - (var(--blog-image-number_desktop) - 1) * var(--blog-margin_desktop)) / var(--blog-image-number_desktop)) * 3 + 2 * var(--blog-margin_desktop)) !important;
    }

    .blog {
        padding: 3.8rem 10.6rem 5.3rem 10.6rem;
    }


}