@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9cpdi2');
  src:  url('fonts/icomoon.eot?9cpdi2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9cpdi2') format('truetype'),
    url('fonts/icomoon.woff?9cpdi2') format('woff'),
    url('fonts/icomoon.svg?9cpdi2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-white-instagram:before {
  content: "\e900";
}
.icon-white-twitter:before {
  content: "\e901";
}
.icon-white-facebook:before {
  content: "\e902";
}
.icon-white-tumblr:before {
  content: "\e903";
}
.icon-white-pinterest:before {
  content: "\e904";
}
.icon-black-Menu:before {
  content: "\e905";
}
.icon-right-BLACK-1:before {
  content: "\e906";
}
.icon-guide-compass:before {
  content: "\e907";
}
.icon-hexagonal:before {
  content: "\e908";
}
.action:before {
  content: "\e909";
}
.icon-plane:before {
  content: "\e90a";
}
.action:before {
  content: "\e9d8";
}
